
body{
  background-color: black;
}

.homepage-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top-row{
    display: flex;
}

.bottom-row{
    display: flex;
}

.square{
  background-color: white;
  width: 200px;
  margin: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms;
  font-family: 'Inter', 'sans-serif';
}

.square:hover{
  transform: translateY(-5px);
}
.square p {
  width: 80%;
  margin: auto;
  text-align: center;
}
.chapter-header{
  font-family: 'Inter', 'sans-serif';
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size:28.43px;
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
}
